fastapi==0.104.1
uvicorn==0.24.0
psycopg2-binary==2.9.9
PyJWT==2.8.0
scikit-learn==1.3.0
pandas==2.1.0
matplotlib==3.8.0
seaborn==0.12.2
pydantic==2.7.2
numpy==1.26.4
dash==2.14.0
plotly==5.16.0
nest_asyncio==1.5.6
basemodels==1.0.2